body {
    width: 600px;
    margin: 0 auto;
    background-image: url(https://th.bing.com/th/id/R.26d2e0224f29137fdfdc20f01bb36fc0?rik=Rf832BO6pBDirQ&pid=ImgRaw&r=0);
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
